  <link rel="stylesheet" href="/styles/results.css" media="screen" title="no title" charset="utf-8">

<header>
    {{#each parks}}
    <h1>{{{this.park_name}}}</h1>
    <h1>{{{this.park_name}}}</h1>
    <img src={{{this.picture_URL}}}>
    {{/each}}
</header>