  <link rel="stylesheet" href="/styles/results.css" media="screen" title="no title" charset="utf-8">

<header>

<h1>Park Results:</h1>


</header>



<body>
    {{#each parks}}
    <h1>{{{this.park_name}}}</h1>
    <h3>{{{this.park_address}}}</h1>
     <div>
    <img class= "image" src={{{this.picture_URL}}}>
    {{/each}}
    </div>
  
</body>

<footer>
  <h1><a href="/home">Home</a></h1>
</footer>