body {
    background :rgb(14, 222, 237);
    font-family: 'Vollkorn SC', serif, bold;
}

header {
    text-align: center;
    background :rgb(14, 222, 237);
    font-family: 'Vollkorn SC', serif, bold;
}