body {
    background :rgb(14, 222, 237);
    font-family: 'Vollkorn SC', serif, bold;
}

header {
    text-align: center;
}

.image {

    padding-top: 1%;
    position: relative;
    background-size:cover;
    height: auto;
    width: 100%;
    display: inline-block;
}